<div class="clear-container">
  <button md-mini-fab color="secondary" class="clear" *ngIf="placesControl.value" (click)="clearInput()">
    <md-icon>clear</md-icon>
  </button>
</div>

<input class="places-search" placeholder="Find parking near..." [mdAutocomplete]="auto" [formControl]="placesControl">

<md-autocomplete #auto="mdAutocomplete" class="autocomplete">
  <md-option *ngFor="let place of matchingPlaceCollection | async" [value]="place.text" (click)="selectOption(place)">
    {{ place.place_name }}
  </md-option>
</md-autocomplete>

<button md-mini-fab color="primary" class="search" (click)="search()" data-tutorial="places">
  <md-icon>search</md-icon>
</button>
