:host {
  color: black;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  .places-search {
    font-size: 17px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    border: none;
    height: 40px;
    width: 75%;
    max-width: 700px;
    text-overflow: ellipsis;
    background-color: white;
    border: 1px solid #3f51b5;
    border-left: 0px;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  .search {
    height: 40px;
    display: inline-block;
    border-radius: 0px;
  }
  .clear {
    height: 28px;
    border: none;
    background-color: white;
    box-shadow: none;
  }
  .clear-container {
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #3f51b5;
    border-right: 0px;
  }
}
