:host {
  color: black;
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: center;

  .places-search {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    border: none;
    // padding: 0px 30px;
    height: 40px;
    width: 75%;
    text-overflow: ellipsis;
    background-color: white;
  }

  .search {
    //margin-left: 0px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
  }

  .clear {
    // margin-right: -40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 3px;
  }
}
