<div [@fade]>
  <mat-toolbar color="primary">
    <button mat-button
            *ngIf='isHome'
            [routerLink]="''">< Map</button>
    <button mat-button
            *ngIf='!isHome'
            [routerLink]="'/rulesinfo'">< Back</button>
    <span>{{title}}</span>
  </mat-toolbar>

  <div class="container">
    <!-- Show a nav list for nav pages (home page) -->
    <mat-nav-list *ngIf='isHome'
                  class="content"
                  [@slideRight]>
      <div>
        State:
        <mat-select placeholder="Massachusetts">
          <mat-option>
            Massachusetts
          </mat-option>
        </mat-select>
      </div>
      <h3 matSubheader>Parking rules and regultions</h3>
      <a mat-list-item
         *ngFor="let item of content"
         [routerLink]="item.href">
        {{item.text}}
        <!-- TODO Chevron_right not showing up on phone -->
        <span class="fill-remaining-space"></span>
        <mat-icon>chevron_right</mat-icon>
      </a>
      <h3 matSubheader>About the App</h3>
      <a mat-list-item
         *ngFor="let item of aboutApp"
         [routerLink]="item.href">
        {{item.text}}
        <!-- TODO Chevron_right not showing up on phone -->
        <span class="fill-remaining-space"></span>
        <mat-icon>chevron_right</mat-icon>
      </a>
    </mat-nav-list>

    <!-- Show content for regular content -->
    <div *ngIf='!isHome'
         class="content"
         [@slideLeft]>
      <div *ngFor="let item of content"
           class="line"
           [ngClass]="{separated: !!item.img}">
        <img *ngIf='!!item.img'
             src="{{item.img}}" />
        <div>{{item.text}}</div>
      </div>
    </div>
  </div>
</div>