<div [@fade]>
  <div class="toolbar">
    <button mat-button
            *ngIf='isHome'
            [routerLink]="''">< Map</button>
    <button mat-button
            *ngIf='!isHome'
            [routerLink]="'/rulesinfo'">< Back</button>
    <h1 class="title">{{title}}</h1>
  </div>

  <div class="container">
    <!-- Show a nav list for nav pages (home page) -->
    <mat-nav-list *ngIf='isHome'
                  [@slideRight]>
      <div>
        State:
        <mat-form-field>
          <mat-select placeholder="Massachusetts"
                      [value]="Massachusetts">
            <mat-option>
              Massachusetts
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h2 class="header">Parking rules and regultions</h2>
      <a mat-list-item
         *ngFor="let item of content"
         [routerLink]="item.href">
        {{item.text}}
        <!-- TODO Chevron_right not showing up on phone -->
        <span class="fill-remaining-space"></span>
        <mat-icon>chevron_right</mat-icon>
      </a>
      <h2 class="header">About the App</h2>
      <a mat-list-item
         *ngFor="let item of aboutApp"
         [routerLink]="item.href">
        {{item.text}}
        <!-- TODO Chevron_right not showing up on phone -->
        <span class="fill-remaining-space"></span>
        <mat-icon>chevron_right</mat-icon>
      </a>
    </mat-nav-list>

    <!-- Show content for regular content -->
    <div *ngIf='!isHome'
         class="content"
         [@slideLeft]>
      <h2>{{title}}</h2>
      <div *ngFor="let item of content"
           class="line"
           [ngClass]="{separated: !!item.img}">
        <img *ngIf='!!item.img'
             src="{{item.img}}" />
        <div>{{item.text}}</div>
      </div>
    </div>
  </div>
</div>