<div class="container">
  <pa-add-edit-button></pa-add-edit-button>

  <div class="map-controls"
       data-help="map-controls">
    <div class="zoom">
      <button mat-mini-fab
              (click)="changeZoom(1)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab
              (click)="changeZoom(-1)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <!-- Recenter -->
    <button mat-mini-fab
            class="recenter"
            (click)="recenter()">
            <mat-icon *ngIf="recenterAvailable">my_location</mat-icon>
            <mat-icon *ngIf="!recenterAvailable">location_disabled</mat-icon>
          </button>
    <div class="geolocationRequest"
         [@fadeRight]
         *ngIf="showGeolocationRequest && !recenterAvailable">
      Could not find your location. Please turn on GPS

      <mat-icon class="close"
                (click)="showGeolocationRequest = false">close</mat-icon>
      <div class="arrow"></div>
    </div>
  </div>
</div>