<div class="container">
  <!--TODO-usability-->
  <!--<md-button-toggle-group name="spaces-buttons" class="map-view" color="secondary" (change)="changeMode($event.value)">
    <md-button-toggle value="street" checked=true>Street</md-button-toggle>
    <md-button-toggle value="satellite">Satellite</md-button-toggle>
  </md-button-toggle-group>-->
  <pa-add-spot-button></pa-add-spot-button>

  <div class="zoom">
    <button md-mini-fab (click)="changeZoom(1)"><md-icon>add</md-icon></button>
    <button md-mini-fab (click)="changeZoom(-1)"><md-icon>remove</md-icon></button>
  </div>
  <button md-mini-fab class="recenter" (click)="recenter()" *ngIf="recenterAvailable"><md-icon>gps_fixed</md-icon></button>
</div>
