.map-view {
  position: absolute;
  bottom: 40px;
  right: 20px;
  background-color: white;
}

.zoom {
  position: absolute;
  bottom: 90px;
  right: 20px;
  display: flex;
  flex-direction: column;

  button {
    border-radius: 0px;
  }
}

.recenter {
  position: absolute;
  bottom: 180px;
  right: 20px;
}
