<button mat-raised-button
        *ngIf="show"
        [matMenuTriggerFor]="spotMenu"
        color="primary"
        class="add-edit-button"
        data-help="add-spot">
    ADD/EDIT SPOT
</button>

<mat-menu #spotMenu="matMenu"
          class="spot-menu">
    <button mat-menu-item
            (click)="onOpenAdd()"> 
        <mat-icon>add_location</mat-icon> 
        ADD NEW SPOT 
    </button>
    <button mat-menu-item
            (click)="onOpenEdit()">
        <mat-icon>edit_location</mat-icon> 
        EDIT EXISTING SPOT 
    </button>
</mat-menu>