<button md-raised-button
        *ngIf="showAddButton"
        [mdMenuTriggerFor]="spotMenu"
        color="primary"
        class="add-edit-button"
        data-help="add-spot">
    ADD/EDIT SPOT
</button>

<md-menu #spotMenu="mdMenu"
         class="spot-menu">
    <button md-menu-item
            (click)="onOpenAddSpot()"> 
        <md-icon>add_location</md-icon> 
        ADD NEW SPOT 
    </button>
    <button md-menu-item> 
        <md-icon>edit_location</md-icon> 
        EDIT EXISTING SPOT 
    </button>
</md-menu>