md-toolbar {
  position: absolute;
  z-index: 1;
  font-size: 30px;
}

md-button {
  min-width: 40px;
}

span {
  margin-left: 15px;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.logo {
  width: 60px;
  height: 60px;
  color: #FFFFFF;
}

.park {
  margin: 0;
}

.abler {
  margin: 0;
  color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .park { display: none; }
  .abler {display: none;}
}