// component styles are encapsulated and only applied to their components
.places-search {
  color: black;
  position: absolute;
  z-index: 1;
  top: 60px; // TODO:figure out how to not set pixel value
  left: 0;
  right: 0;
  padding: 20px 0px;
  display: flex;
  justify-content: center;

  input {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    border: none;
    padding: 9px;
    width: 75%;
    text-overflow: ellipsis;
  }

  button {
    color: white;
    background-color: #009688;
    border-radius: 0px; 
    display: inline-block;
  }
}

/*  for md-raised-button
    padding-top: 5px;
    height: 32px;
    vertical-align: -7px;
    min-width: 0px;
    margin: 0px;
    border-radius: 0px;
    left: -4px;
*/
