// component styles are encapsulated and only applied to their components
.places-search {
  color: black;
  position: absolute;
  z-index: 1;
  top: 60px; // TODO:figure out how to not set pixel value
  left: 0;
  right: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: center;

  input {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    border: none;
    padding: 9px;
    width: 75%;
    text-overflow: ellipsis;
  }

  .search {
    border-radius: 0px;
    margin-right: 10px;
  }
}
