<button *ngIf="!opened" md-raised-button color="primary" (click)="onOpen()" class="add-spot">
    ADD SPOT
</button>

<pa-drawer [open]="opened">
    <pa-stepper (close)="onClose()" (done)="onClose()" (stepChange)="onStepChange()">
        <pa-step>
            setlocation
            <br/>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            <br/>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        </pa-step>
        <pa-step>
            setdetails
            <br/>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            <br/>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            <br/>
            lorem ipsum
            <br/>
            lorem ipsum
        </pa-step>
        <pa-step>
            submitted
            <br/>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        </pa-step>
    </pa-stepper>
</pa-drawer>