<md-toolbar color="primary">
  <button md-button *ngIf='isHome' [routerLink]="''">< Map</button>
  <button md-button *ngIf='!isHome' [routerLink]="'/rulesinfo'">< Back</button>
  <span>{{title}}</span>
</md-toolbar>

<!-- Show a nav list for nav pages (home page) -->
<md-nav-list *ngIf='isHome'>
  <a md-list-item *ngFor="let item of content" [routerLink]="item.href">
    {{item.text}}
    <span class="fill-remaining-space"></span>
    <md-icon>chevron_right</md-icon>
  </a>
</md-nav-list>

<!-- Show content for regular content -->
<div *ngIf='!isHome' class="content">
  <div *ngFor="let item of content" class="line" [ngClass]="{separated: !!item.img}">
    <img *ngIf='!!item.img' src="{{item.img}}" />
    <div>{{item.text}}</div>
  </div>
</div>
