.container { position: relative; }

.content {
  text-align: left;
}

.content .line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  img {
    margin: 10px;
    height: 100px;
    width: 60px;
  }
}

.separated {
  border-bottom: 1px solid #ccc;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
