// Angular Material themeing
@import '~@angular/material/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-indigo);
$secondary:  md-palette($md-grey, A200, A100, A400);
$warn: md-palette($md-red);

$theme: md-light-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

// styles in src/style directory are applied to the whole page
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #03A9F4;
}
