// Angular Material themeing
@import '~@angular/material/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-indigo);
$secondary:  mat-palette($mat-grey, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

// styles in src/style directory are applied to the whole page
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #03A9F4;
}