.container {
    padding: 10px;
    position: relative;

    .content {
        padding-bottom: 50px;
    }

    .next {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .previous {
        position: absolute;
        right: 100px;
        bottom: 10px;
    }
}
