<pa-drawer [open]="opened">
    <pa-stepper (close)="onClose()" (stepChange)="onStepChange($event)" [stepIndex]="step">
        <!-- location -->
        <pa-step [previousCopy]="'Cancel'" [nextCopy]="'Next'" (next)="onSetLocation()">
            Drag and zoom the map to put the marker exactly over the spot
        </pa-step>
        <!-- details -->
        <pa-step [previousCopy]="'Back'" [nextCopy]="'Submit'" (next)="onSubmit()">
            <h4>How many spaces are there?</h4>
            <md-button-toggle-group name="spaces-buttons" (change)="changeNumSpots($event.value)">
                <md-button-toggle value="1" checked=true>1</md-button-toggle>
                <md-button-toggle value="2">2</md-button-toggle>
                <md-button-toggle value="3">3</md-button-toggle>
                <md-button-toggle value="4">4</md-button-toggle>
                <md-button-toggle value="Many">Many</md-button-toggle>
            </md-button-toggle-group>
            <h4>What type of space is this?</h4>
            <md-button-toggle-group name="spaces-buttons" (change)="changeSpotType($event.value)">
                <md-button-toggle value="regular">Regular</md-button-toggle>
                <md-button-toggle value="accessible">Accessible</md-button-toggle>
            </md-button-toggle-group>
            <input mdInput aria-label="description" placeholder="Description">
        </pa-step>
        <!-- submitted -->
        <pa-step [previousCopy]="''" [nextCopy]="'OK'" (next)="onClose()">
           Thank you for your help! The details have been submitted, we will review the submission and add it to the map accordingly.
        </pa-step>
    </pa-stepper>
</pa-drawer>