<md-tab-group [dynamicHeight] = true>
  <md-tab label="Welcome" class="tab-content">
    <h1>Welcome to parkabler!</h1>
    <p>
      You can use this app to find and navigate to handicapped accessible parking spots.
    </p>
    <p>
      You can also add new spots that we don't know about yet and report spaces with incorrect information.
    </p>
    <p>
      Let's get started!
    </p>
  </md-tab>
  <md-tab label="Setting Destination" class="tab-content">
    <h1>Setting Destination</h1>
    <p>
      You can search for any location that you want to go to from the search bar.
    </p>
    <p>
      You can also find parking near you by selecting 'Near Me'.
    </p>
  </md-tab>
  <md-tab label="Navigating" class="tab-content">
    <h1>Navigating</h1>
    <p>
      Once you know where you want to go, just tap 'directions' and get going with your favorite navigation app.
    </p>
    <p>
      If you find that this spot data is innacurate, please hit 'report' so that we can correct the information.
    </p>
    <p>
      Thank you for your help!
    </p>
  </md-tab>
  <md-tab label="Adding Spots" class="tab-content">
    <h1>Adding Spots</h1>
    <p>
      We rely on your help to keep our data up to date! If you see a spot that's not on our map, please share it by clicking 'Add Spot'.
    </p>
    <p>
      Drag the map around so that the pin is centered over the location of the parking spot, and add details.
    </p>
    <p>
      Thank you for your help!
    </p>
  </md-tab>
</md-tab-group>
<md-dialog-actions>
  <button md-dialog-close md-raised-button color="secondary">close</button>
</md-dialog-actions>