.add-spot {
  position: fixed;
  bottom: 60px;
  left: 20px;
}

.container {
  // TODO: Style for desktop?
  // position: absolute;
  // max-width: 400px;
  bottom: 0px;
  left: 0px;
  text-align: left;
  width: 100%;
  z-index: 1000; // Should be above everything
}

md-card-header {
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.spaces-buttons {
  button[md-raised-button], button[md-button] {
    min-width: 0px;
  }
}

#submit {
  float: right;
}

md-input, md-radio-group, .spaces-buttons {
  display: block;
  padding-bottom: 15px;
}

md-radio-button {
  margin: 10px;
}

md-button-toggle-group {
  box-shadow: none;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#addMarker {
  position: fixed;
  margin: 0 auto;
  top: 250px;
  width: 100%;
}
