<div class="container" [ngClass]="{ editing: enteringSpot }" [ngSwitch]="state">
  <!-- State.Closed -->
  <button *ngSwitchCase="states.Closed" md-raised-button color="primary" (click)="addLocation()">
    ADD SPOT
  </button>

  <!-- State.AddLocation -->
  <div *ngSwitchCase="states.AddLocation">
    <div id="addMarker">
      <svg width="60px" height="100px" viewBox="-19 -48 38 48">
        <path d="M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z" fill="#F44336" stroke="#FFFFFF" stroke-width="2"/>
      </svg>
    </div>
    <md-card class="md-card-raised">
      <md-card-subtitle>Place the Marker over the location of the spot</md-card-subtitle>
      <md-card-content>
        <md-card-subtitle>Where is the spot located?</md-card-subtitle>
        <button md-button color="primary" (click)="close()">Cancel</button>
        <button md-raised-button color="primary" (click)="addDetails()">Next</button>
      </md-card-content>
    </md-card>
  </div>

  <!-- State.AddDetails -->
  <md-card *ngSwitchCase="states.AddDetails" class="md-card-raised">
    <md-card-subtitle>Report a Parking Sport</md-card-subtitle>
    <md-card-content>
      <md-card-subtitle>How many spaces are there?</md-card-subtitle>
      <md-button-toggle-group name="spaces-buttons">
        <md-button-toggle value="1" checked=true>1</md-button-toggle>
        <md-button-toggle value="2">2</md-button-toggle>
        <md-button-toggle value="3">3</md-button-toggle>
        <md-button-toggle value="4">4</md-button-toggle>
        <md-button-toggle value="Many">Many</md-button-toggle>
      </md-button-toggle-group>
      <md-card-subtitle>What type of space is this?</md-card-subtitle>
      <md-button-toggle-group name="spaces-buttons">
        <md-button-toggle value="commercial">Commercial</md-button-toggle>
        <md-button-toggle value="residential">Residential</md-button-toggle>
        <md-button-toggle value="Don't Know" checked=true>Don't know</md-button-toggle>
      </md-button-toggle-group>
      <md-input aria-label="description" placeholder="Description"></md-input>
      <br/>
      <button md-button color="primary" (click)="close()">Cancel</button>
      <button md-raised-button color="primary" (click)="submit()">Submit</button>
    </md-card-content>
  </md-card>

  <!-- State.Submitted -->
  <div *ngSwitchCase="states.Submitted">
    <md-card class="md-card-raised">
      <md-card-subtitle>Thank you for your help</md-card-subtitle>
      <md-card-content>
        The details have been submitted, we will review the submission and add it to the map accordingly.
      </md-card-content>
    </md-card>
  </div>
</div>
