<pa-drawer [open]="open">

  <pa-stepper (close)="onClose()">

    <!-- select marker -->
    <pa-step [previousCopy]="'Cancel'"
             [nextCopy]="'Next'"
             (next)="onSetLocation()">
      Select the spot to edit
    </pa-step>

    <!-- details -->
    <pa-step [previousCopy]="'Back'"
             (previous)="onUnsetLocation()"
             [nextCopy]="'Submit'"
             (next)="onSubmit()">
      <h4>How many spaces are there?</h4>
      <mat-button-toggle-group name="spaces-buttons"
                               [(ngModel)]="newSpotDetails.quantity">
        <mat-button-toggle value="0">None</mat-button-toggle>
        <mat-button-toggle value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="Many">Many</mat-button-toggle>
      </mat-button-toggle-group>
      <h4>Additional Features</h4>
      <div class="additional-feat-container">
        <mat-checkbox name="fee"
                      [(ngModel)]="newSpotDetails.cost"
                      color="primary"
                      [indeterminate]="true">
          Fee Associated
        </mat-checkbox>
        <mat-input-container>
          <input matInput
                 aria-label="description"
                 [(ngModel)]="newSpotDetails.description"
                 placeholder="Description">
        </mat-input-container>
      </div>
    </pa-step>

    <!-- submitted -->
    <pa-step [previousCopy]="''"
             [nextCopy]="'OK'"
             (next)="onClose()">
      Thank you for your help! The details have been submitted, we will review the submission and add it to the map accordingly.
    </pa-step>

  </pa-stepper>
</pa-drawer>