<pa-header></pa-header>
<div class="content">
  <div class="map-container">
    <pa-map></pa-map>
    <pa-places (placeUpdate)="onPlaceUpdate($event)"></pa-places>
  </div>
  <div>
  <pa-add-spot [opened]="mode==appModes.AddSpot" [step]="addSpotStep" (close)="onCloseAddSpot()" (open)="onOpenAddSpot()" (stepChange)="onAddSpotStepChange($event)"></pa-add-spot>
  <!--<pa-report-spot [opened]="mode==appModes.ReportSpot" (close)="onCloseReportSpot()" (open)="onOpenReportSpot()"></pa-add-spot>-->
  <pa-spots-list [spots]="nearbySpots$ | async"></pa-spots-list>
  </div>
</div>
