<pa-map-gl *ngIf="supportsGL"
           [zoom]="zoom"
           (zoomChange)="setZoom($event)"
           [center]="center"
           (centerChange)="setCenter($event)"
           [spots]="spots"
           [currentlocation]="currentLocation"
           [destination]="destination"
           [showAddSpotOverlay]="addSpotOverlay$ | async"
           [interactable]="interactable$ | async">
</pa-map-gl>
<!--<pa-map-js *ngIf="!supportsGL" [zoom]="zoom" [mode]="mode" [center]="center" [spots]="spots"></pa-map-js>-->

<pa-map-controls (zoomChange)="setZoom(zoom + $event)"
                 (modeChange)="setMode($event)"
                 (recenterChange)="recenterChange()"
                 [recenterAvailable]="geolocationAvailable">
</pa-map-controls>