<pa-drawer [open]="opened">
    <pa-stepper (close)="onClose()" (done)="onClose()" (stepChange)="onStepChange()">
        <!-- details -->
        <pa-step [previousCopy]="'Cancel'" [nextCopy]="'Submit'">
            <h3>Editing this spot</h3>
            <h4>How many spaces are there?</h4>
            <md-button-toggle-group name="spaces-buttons" (change)="changeNumSpots($event.value)">
                <md-button-toggle value="None" checked=true>None</md-button-toggle>
                    <md-button-toggle value="1">1</md-button-toggle>
                    <md-button-toggle value="2">2</md-button-toggle>
                    <md-button-toggle value="3">3</md-button-toggle>
                    <md-button-toggle value="Many">Many</md-button-toggle>
            </md-button-toggle-group>
            <h4>What type of space is this?</h4>
            <md-button-toggle-group name="spaces-buttons" (change)="changeSpotType($event.value)">
                <md-button-toggle value="regular">Regular</md-button-toggle>
                <md-button-toggle value="accessible">Accessible</md-button-toggle>
            </md-button-toggle-group>
            <input mdInput aria-label="description" placeholder="Description">
        </pa-step>
        <!-- submitted -->
        <pa-step [previousCopy]="''" [nextCopy]="'OK'">
            Thank you for your help! The details have been submitted, we will review the submission and add it to the map accordingly.
        </pa-step>
    </pa-stepper>
</pa-drawer>