$list-item-height: 75px;

.container {
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  background-color: #3F51B5;
  color: white;
}

.content {
  max-height: $list-item-height*3.5;
  overflow-y: scroll;
  background-color: white;
}

.item {
  
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3F51B5;

  .item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .details{
      flex-grow: 3;
      padding: 10px;
    }

    .cta {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #3F51B5;
      align-items: center;
      padding: 10px;

      .icon{
        height: 40px;
        width: 40px;
        font-size: 40px;
      }
    }
  }
}

md-nav-list {
  padding: 0;
}

md-list-item {
  height: $list-item-height;
}

