<div class="container" *ngIf="enabled && !hidden" [ngClass]="{ expanded: expanded }">
  <button md-button class="header" (click)="toggleExapand()">
    {{numSpot}} spots near destination
  </button>

  <md-nav-list class="content" *ngIf="expanded">
    <md-list-item *ngFor="let spot of spots" class="list-item item" (click)="onClickSpot(spot)">
      <div class="item-content">
        <div class="details">
          <span class="large-text">1 Space</span>
          <span> within {{spot.distanceToDest}} meters </span>
        </div>
        <a class="cta" href="http://maps.google.com/maps?daddr={{spot.coordinates.lat}},{{spot.coordinates.lng}}">
          <md-icon class="icon">directions</md-icon>
          <span>
            Directions
          </span>
        </a>
        <div class="cta" (click)="onReport()">
          <md-icon class="icon">report</md-icon>
          <span>
            Report
          </span>
        </div>
      </div>
    </md-list-item>
  </md-nav-list>
</div>
