.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.backdrop {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .transparent {
    transition: all 0.5s ease-in-out;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 0 0 6000px rgba(0,0,0,0.9);
    border-radius: 3px;
    float: left;
  }
}

.foreground {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  .message {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
  }
  .image {
    height: 40vh;
    margin: 0 auto;
  }
  .actions {
    margin-top: 10px;
  }
}

.mock-navigate {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 30px;
  width: 100%;
  background-color: #3F51B5;
  color: white;
  font-size: 16px;
}
