.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.backdrop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;

    div {
        transition: all 0.5s ease-in-out;
        background-color: black;
    }

    .top {
        width: 100%;
    }

    .left {
        float:left;
    }

    .transparent {
        background-color: transparent;
        box-shadow: 0 0 0 50px black;
        border-radius: 3px;
        float:left;
    }

    .right {
        overflow:hidden; 
    }

    .bottom {
        width: 100%;
        height: 100%;
    }
}

.foreground {
    position: absolute;
    top: 20%;
    width: 100%;

    .card {
        max-width: 300px;
        margin: auto;
        
        .message {
            font-size: 24px;
            margin-bottom: 40px;
        }

        img {
            max-height: 200px;
        }
    }

}

