<pa-drawer [open]="(appMode$ | async) === AppModes.Add">

  <mat-horizontal-stepper (selectionChange)="onStepChange($event)"
                          #stepper
                          linear>

    <!-- location -->
    <mat-step label="Location"
              [stepControl]="location"
              [editable]="!submitted">
      <form [formGroup]="location">
        Drag the map to put the marker exactly over the parking spot.
        <mat-error *ngIf="!location.controls.coordinates.valid && location.controls.coordinates.dirty">Please make sure to drag the map so that the marker is over the parking spot.</mat-error>
        <div>
          <button mat-raised-button
                  matStepperNext
                  (click)="location.controls.coordinates.markAsDirty()">Next</button>
        </div>
      </form>
    </mat-step>

    <!-- details -->
    <mat-step label="Details"
              [stepControl]="details"
              [editable]="!submitted">
      <form [formGroup]="details">
        <h4>How many spaces are there?</h4>
        <mat-button-toggle-group name="spaces-buttons"
                                 formControlName="quantity">
          <mat-button-toggle value="1">1</mat-button-toggle>
          <mat-button-toggle value="2">2</mat-button-toggle>
          <mat-button-toggle value="3">3</mat-button-toggle>
          <mat-button-toggle value="4">4</mat-button-toggle>
          <mat-button-toggle value="Many">Many</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-error *ngIf="!details.controls.quantity.valid && details.controls.quantity.dirty">This field is required</mat-error>
        <h4>Additional Features</h4>
        <div class="additional-feat-container">
          <mat-checkbox name="fee"
                        formControlName="cost"
                        color="primary"
                        [indeterminate]="true">
            Fee Associated
          </mat-checkbox>
          <mat-input-container>
            <input matInput
                   aria-label="description"
                   formControlName="description"
                   placeholder="Description">
          </mat-input-container>
        </div>
        <div>
          <button mat-button
                  matStepperPrevious>Back</button>
          <button mat-button
                  matStepperNext
                  (click)="details.controls.quantity.markAsDirty()">Submit</button>
        </div>
      </form>
    </mat-step>

    <!-- submitted -->
    <mat-step label="Done"
              [editable]="false"
              [completed]="false">
      <!--HACK: Editable and completed because Can't reset the stepper-->
      Thank you for your help! The details have been submitted, we will review the submission and add it to the map accordingly.
      <div>
        <button mat-button
                (click)="onClose()">OK</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</pa-drawer>