// Angular Material themeing
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$secondary:  mat-palette($mat-grey, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);


html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #03A9F4;
}

// HACK:
//  This sets the height for the spotslist component list items
.mat-list-item-content {
  min-height: 100%;
}

.mat-input-placeholder {
  color: #3f51b5;
}