// Angular Material themeing
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family:   'Raleway, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(16px, 24px, 500),
  $body-1:        mat-typography-level(16px, 20px, 400),
  $caption:       mat-typography-level(14px, 20px, 400),
  $button:        mat-typography-level(16px, 18px, 500),
  $input:         mat-typography-level(16px, 1.125, 400)  
);

@include mat-core($custom-typography);

$primary: mat-palette($mat-indigo);
$secondary:  mat-palette($mat-grey, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #03A9F4;
}

// HACK:
//  This sets the height for the spotslist component list items
.mat-list-item-content {
  min-height: 100%;
}

.mat-input-placeholder {
  color: #3f51b5;
}

// This sets the styles for the add/edit spots menu
.spot-menu {

  .mat-menu-content{
    background-color: #3f51b5;
    // background-color: #8C9EFF;
  }

  .mat-menu-item, .mat-icon {
    color: rgba(255, 255, 255, 0.87);
  }
}

// Add/Edit spot stepper make sure that text does not overflow for small screens
@media(max-width: 400px){
  .mat-horizontal-stepper-header-container {
    padding: 0 5%;
  }
  .mat-horizontal-stepper-header {
    margin: auto -10%;
  }

  .mat-stepper-horizontal-line {
    padding: -5%;
    visibility: hidden;
  }
}